<! doctype html>
<html>
<body>
  <span class="login">Hello, {{user}}</span> <!--echo out an escaped string with mustaches-->
  <h1>Welcome to Pizza Shack</h1>
<!--we need to add a form to make orders -->
  <form action="/order" method="POST">
    <label for ="pizza">Pizza</label>
      <input name="pizza">
        <select name="size">
            <option value="l">Large</option>
            <option value="m">Medium</option>
            <option value="s">Small</option>
        </select>

    <label for ="phone">Phone Number</label>
      <input name="phone">

      <input type ="submit">
  </form>

  <ul>
    {{#each pizzas}}
    <li> {{pizza}} - {{phone}}
    {{/each}}
  </ul>
</body>
</html>
