body {

  font-family: sans-serif;
  line-height: 1.5;
}
nav {
  padding: 10px;
}
nav a {
  text-decoration: none;
  border-bottom: 1px dotted black;
}
a.popup {
  font-style: italic;
}
aside {
  float: right;
}
